@charset "ISO-8859-1";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
figure{
    width: 100%;
  
}

figure img{
    width: 100%;
}

main{
    
    margin: 20px 0;
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.list img{
    width: 300px;
    height: 300px;
}

h1{
    margin: 20px 0;
    text-align: center;
}
footer{
    background-color: #333237;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.footerlist li, .footerlist li a{
    list-style: none;
    color:white;
    text-align:justify;
    margin-top: 40px;
}



.footerlist{
    width: 300px;
   padding-left: 50px;

}
a{
    text-decoration: none;
}

.btn{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: white;
    cursor: pointer;
   
  }
 
 #menulogo{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 80px;
 }
 #menubutton{

    width: 20px;
     height: 25px;
     position: absolute;
     top: 17px;
     left: 30px;
  
 }
  .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease;
  }
  .sidebar.show{
    left: 0px;
  }
 
  nav ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
  }
  nav ul li{
    line-height: 70px;
  }
 
  nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 4px solid transparent;
  }
  nav ul li.active a{
    background: #1e1e1e;
    border-left-color: #632CE4;
  }
  nav ul li a:hover{
    background: #1e1e1e;
  }
  nav ul ul{
    position: static;
    display: none;
  }
  nav ul .feat-show.show{
    display: block;
  }
  nav ul .serv-show.show1{
    display: block;
  }
  
  nav ul ul li{
    line-height: 60px;
    border-top: none;
  }
  nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
  }
  nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
  }
  nav ul ul li a:hover{
    background: #1e1e1e!important;
  }
 